<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <link rel="shortcut icon" type="image/png" href="jasmine-2.4.1/jasmine_favicon.png">
    <link rel="stylesheet" href="jasmine-2.4.1/jasmine.css">

    <script type="text/javascript" src="jasmine-2.4.1/jasmine.js"></script>
    <script type="text/javascript" src="jasmine-2.4.1/jasmine-html.js"></script>
    <script type="text/javascript" src="jasmine-2.4.1/boot.js"></script>

    <!-- include source files here... -->
    <script src="javascripts/list.js"></script>

    <!-- include spec files here... -->
    <script src="list.spec.js"></script>
  </head>

  <body>
    <h1><%= title %> </h1>
    <p>List abstract data type (ADT) in Javascript</p>

    <p>"A list is an ordered sequence of data. Each data item stored in a list is called an element.
    The elements of a list can be of any data type. There is no predetermined number of elements
    that can be stored in a list, though the practical limit will be the amount of memory available
    to the program using the list."<p>

    <table>
      <tr>
        <th align="left">name</th>
        <th align="left">type</th>
        <th align="left">description</th>
      </tr>
      <tr>
        <td>size</td>
        <td>property</td>
        <td>number of elements in a list</td>
      </tr>
      <tr>
        <td>position</td>
        <td>property</td>
        <td>current position in list</td>
      </tr>
      <tr>
        <td>length</td>
        <td>function</td>
        <td>number of elements in a list</td>
      </tr>
      <tr>
        <td>dataStore</td>
        <td>function</td>
        <td>elements in a list</td>
      </tr>
      <tr>
        <td>clear</td>
        <td>function</td>
        <td>clears all elements from a list</td>
      </tr>
      <tr>
        <td>toString</td>
        <td>function</td>
        <td>returns string representation of a list</td>
      </tr>
      <tr>
        <td>getElement</td>
        <td>function</td>
        <td>returns element at current position</td>
      </tr>
      <tr>
        <td>insert</td>
        <td>function</td>
        <td>insert new element after existing element</td>
      </tr>
      <tr>
        <td>append</td>
        <td>function</td>
        <td>adds new element to end of list</td>
      </tr>
      <tr>
        <td>remove</td>
        <td>function</td>
        <td>removes element from a list</td>
      </tr>
      <tr>
        <td>front</td>
        <td>function</td>
        <td>sets current position to first element of a list</td>
      </tr>
      <tr>
        <td>end</td>
        <td>function</td>
        <td>sets current position to last element of a list</td>
      </tr>
      <tr>
        <td>previous</td>
        <td>function</td>
        <td>moves current position back one element</td>
      </tr>
      <tr>
        <td>next</td>
        <td>function</td>
        <td>moves current position forward one element</td>
      </tr>
      <tr>
        <td>currentPosition</td>
        <td>function</td>
        <td>returns the current position in list</td>
      </tr>
      <tr>
        <td>moveTo</td>
        <td>function</td>
        <td>moves the current position to specific position</td>
      </tr>
    </table>

    <p>Source: Data Structures and Algorithms with JavaScript: Bringing classic computing approach into the web,
      by Michael McMillan</p>

  </body>
</html>
