body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#wrapper {
  margin-right: 200px;
}
#leftBar {
  float: left;
  width: 50%;
}
#rightBar {
  float: right;
  width: 50%;
}
#cleared {
  clear: both;
}
